<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.edu.server.mapper.StudentCourseMapper">

    <resultMap id="studentCourse" type="StudentCourse">
        <id property="id" column="student_course_id"/>
        <result property="status" column="student_course_status"/>
        <result property="createTime" column="student_course_create_time"/>
        <result property="updateTime" column="student_course_update_time"/>
        <association property="student" resultMap="com.nenu.edu.server.mapper.StudentMapper.student"/>
        <association property="course" resultMap="com.nenu.edu.server.mapper.CourseMapper.course"/>
    </resultMap>

    <select id="getById" resultMap="studentCourse">
        SELECT
        student_course.id          AS student_course_id,
        student_course.create_time AS student_course_create_time,
        student_course.update_time AS student_course_update_time,

        course.id                  AS course_id,
        course.name                AS course_name,
        course.code                AS course_code,
        course.time                AS course_time,
        course.place               AS course_place,
        course.create_time         AS course_create_time,
        course.update_time         AS course_update_time,

        student.id                 AS student_id,
        student.major              AS student_major,
        student.grade              AS student_grade,
        student.clazz              AS student_clazz,
        student.create_time        AS student_create_time,
        student.update_time        AS student_update_time,
        user_student.name          AS student_name,

        teacher.id                 AS teacher_id,
        teacher.create_time        AS teacher_create_time,
        teacher.update_time        AS teacher_update_time,
        user_teacher.name          AS teacher_name
        FROM student_course
        LEFT JOIN course ON student_course.course_id = course.id
        LEFT JOIN student ON student_course.student_id = student.id
        LEFT JOIN user AS user_student ON student.id = user_student.student_id
        LEFT JOIN teacher ON course.teacher_id = teacher.id
        LEFT JOIN user AS user_teacher ON teacher.id = user_teacher.teacher_id
        WHERE student_course.id = #{id}
    </select>

    <insert id="insert" parameterType="StudentCourse" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO student_course (
        student_id
        , course_id
        , create_time
        ) VALUES (
        #{student.id}
        , #{course.id}
        , sysdate()
        )
    </insert>

    <delete id="deleteById">
        DELETE FROM student_course
        WHERE id = #{id}
    </delete>

    <select id="getByStudentIdAndCourseId" resultMap="studentCourse">
        SELECT
        student_course.id          AS student_course_id,
        student_course.create_time AS student_course_create_time,
        student_course.update_time AS student_course_update_time,

        course.id                  AS course_id,
        course.name                AS course_name,
        course.code                AS course_code,
        course.time                AS course_time,
        course.place               AS course_place,
        course.create_time         AS course_create_time,
        course.update_time         AS course_update_time,

        student.id                 AS student_id,
        student.major              AS student_major,
        student.grade              AS student_grade,
        student.clazz              AS student_clazz,
        student.create_time        AS student_create_time,
        student.update_time        AS student_update_time,
        user_student.name          AS student_name,

        teacher.id                 AS teacher_id,
        teacher.create_time        AS teacher_create_time,
        teacher.update_time        AS teacher_update_time,
        user_teacher.name          AS teacher_name
        FROM student_course
        LEFT JOIN course ON student_course.course_id = course.id
        LEFT JOIN student ON student_course.student_id = student.id
        LEFT JOIN user AS user_student ON student.id = user_student.student_id
        LEFT JOIN teacher ON course.teacher_id = teacher.id
        LEFT JOIN user AS user_teacher ON teacher.id = user_teacher.teacher_id
        WHERE student_course.student_id = #{studentId}
        AND student_course.course_id = #{courseId}
    </select>

    <select id="listCourseByStudentId" resultMap="com.nenu.edu.server.mapper.CourseMapper.course">
        SELECT
        course.id           AS course_id,
        course.name         AS course_name,
        course.code         AS course_code,
        course.time         AS course_time,
        course.place        AS course_place,
        course.create_time  AS course_create_time,
        course.update_time  AS course_update_time,

        teacher.id          AS teacher_id,
        teacher.create_time AS teacher_create_time,
        teacher.update_time AS teacher_update_time,
        user_teacher.name          AS teacher_name
        FROM student_course
        LEFT JOIN course ON student_course.course_id = course.id
        LEFT JOIN teacher ON course.teacher_id = teacher.id
        LEFT JOIN user AS user_teacher ON teacher.id = user_teacher.teacher_id
        WHERE student_course.student_id = #{studentId}
    </select>

    <select id="listStudentByCourseId" resultMap="com.nenu.edu.server.mapper.UserMapper.user">
        SELECT
        user.id             AS user_id,
        user.name           AS user_name,
        user.school         AS user_school,
        user.campus_id      AS user_campus_id,
        user.department     AS user_department,
        user.phone_num      AS user_phone_num,
        user.email          AS user_email,
        user.create_time    AS user_create_time,
        user.update_time    AS user_update_time,

        student.id          AS student_id,
        student.major       AS student_major,
        student.grade       AS student_grade,
        student.clazz       AS student_clazz,
        student.create_time AS student_create_time,
        student.update_time AS student_update_time
        FROM student_course
        LEFT JOIN student ON student_course.student_id = student.id
        LEFT JOIN user ON student.id = user.student_id
        WHERE student_course.course_id = #{courseId}
    </select>

</mapper>
